.cursor {
  display: inline-block;
  width: 5px;
  height: 1.2em;
  position: relative;
}

.cursor::before {
  content: "";
  position: absolute;
  background-color: var(--cursor-color, orange);
  width: 100%;
  height: 100%;
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
