/* color: #FFA128; */
/* background: hsla(30, 57%, 14%, 1); */
/* background: radial-gradient(circle, hsla(30, 57%, 14%, 1) 0%, hsla(30, 67%, 5%, 1) 100%); */

.terminal-wrapper {
  position: relative;
  overflow: hidden;
}

.terminal {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: calc(100vw - 2em);
  max-width: 95vw;
  height: calc(80vh - 2em);
  max-height: calc(100vh - 10em);
  background: radial-gradient(circle, hsla(30, 57%, 14%, 1) 0%, hsla(30, 67%, 5%, 1) 100%);
  animation: txt-shadow 1.6s infinite;
  font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
  overflow: auto;
  overflow-y: scroll;
  /* position: relative; */
}

/* Hide scrollbar */
.terminal::-webkit-scrollbar {
  display: none;
}

.terminal #terminal-output {
  color: #FFA128;
  font-weight: bold;
  margin-bottom: 0.5em;
  white-space: pre-wrap;  
}

.terminal {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

  
@media (min-width: 768px) {
  .terminal {
    width: 75vw;
    height: 100vh;
  }
}
    
.terminal #terminal-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 1.2em;
}

.terminal::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.03) 50%, transparent 50%);
  background-size: 100% 2px;
  opacity: 0.3;
  z-index: 1;
  pointer-events: none;
}

.terminal-content {
  position: relative;
  z-index: 3;
}

.grain {
  animation: grain 8s steps(10) infinite;
  background-image: url(https://i.ibb.co/6Rw6ysv/noise.png);
  height: 300%;
  left: -30%;
  opacity: 0.3;
  position: absolute;
  top: -110%;
  width: 200%;
  z-index: 2;
  pointer-events: none;
}

.terminal #terminal-input {
  outline: none;
  cursor: none;
  color: #FFA128;
  font-weight: bold;
  background-color: transparent;
  border: none;
  word-break: break-all;
  white-space: pre-wrap;
  caret-color: transparent;
  padding: 0;
  margin: 0;
}

#input-prefix {
  color: #FFA128;
  font-weight: bold;
  margin-right: 0.5em;
}